.contact-information-section {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 500px;
  justify-content: left;
  
  &__form {
    background-color: #f2f2f2;
    
    &__name__input,
    &__email__input,
    &__phone__input {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    &__submit-btn {
      width: 100%;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 30px;
      font-weight: 700;
      padding: 15px 5px;
      background-color: #d51015;
      color: #ffffff;
      border: 1px solid #ee5f62;
      border-radius: 5px;
      text-align: center;
      max-height: 100%;
      font-size: 22px;
    }
  }
}
