.content-section-one-layout {
  text-align: left;
  margin: 0 auto;
  padding-bottom: 30px;
  background-image: url("../../static/images/block1.jpg");

  &__title-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__title {
      width: 25%;
      justify-content: center;
      text-align: left;
      font-size: 60px;
      color: #000000;
      padding: 0px 400px;
      margin: 0rem 30rem 0rem 0rem;

      &__decoration {
        color: #4daa07;
      }
    }

    &__subtitle {
      width: 20%;
      justify-content: center;
      text-align: left;
      padding: 0px 400px;
      font-size: 26px;
      color: #d40003;
    }
  }

  &__grid-wrapper {
    width: 20%;
    text-align: left;
    font-size: 20px;
    padding: 0px 400px;

    &__grid {
      &__tick:before {
        content: "✔";
        color: #4daa07;
      }
      &__description {
        color: #4daa07;
        font-weight: 600;
      }
    }
  }

  &__order {
    text-align: center;
    padding: 0px 500px;
    margin: 26rem 0rem 0rem 30rem;
    position: absolute;
    top:0;

    &__old-price {
      width: 30%;
      text-decoration: line-through;
      color: #353535;
    }

    &__new-price {
      color: #d51015;
      font-size: 30px;
      font-weight: 700;
    }

    &__btn {
      font-weight: 700;
      padding: 15px 5px;
      font-style: italic;
      width: 100%;
      background-color: #d51015;
      color: #ffffff;
      border: 1px solid #ee5f62;
      border-radius: 5px;
      text-align: center;
      max-height: 100%;
      font-size: 22px;
    }
  }
}
