.content-section-one-layout {
  text-align: left;
  margin: 0 auto;
  background-image: url("../../static/images/block1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10%;
  padding: 20px 150px;

  &__left-container {
    width: 30%;
    display: flex;
    flex-direction: column;

    &__title {
      justify-content: center;
      text-align: left;
      font-size: 60px;
      color: #000000;
      margin: 0rem 0rem 0rem 0rem;

      &__decoration {
        color: #4daa07;
      }
    }

    &__subtitle {
      justify-content: center;
      text-align: left;
      font-size: 26px;
      font-weight: 600;
      font-style: italic;
      color: #d40003;
    }

    &__text-container {
      text-align: left;
      font-size: 16px;
  
      &__text {
        &__tick:before {
          content: "✔";
          color: #4daa07;
        }
        &__description {
          color: #4daa07;
          font-weight: 600;
        }
      }
    }
  }

  &__product-image {
    position: absolute;
    right: 10%;
    width: 338px;
    top: 20%;
    
    &__sale {
      width: 10rem;
      color: #fff;
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
      font: 700 14px/24px "PT Sans Narrow", sans-serif;
      background: url("../../static/images/sale.png") left top no-repeat;
      position: absolute;
      right: 20px;
      bottom: 70%;
      height: 10rem;
      z-index: 2;

      &__text {
        font-size: 22px;
        width: 6rem;
        padding: 10px 10px;
        text-align: center;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      position: relative;
      z-index: 1;
    }

    &__leaf {
      position: absolute;
      height: 30rem;
      width: 100rem;
      top: 30%;
      left: 65%;
      background: url("../../static/images/leaf.png") left top no-repeat;
    }
  }

  &__order {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;

    &__old-price {
      font-size: 20px;
      font-weight: 600;
      text-decoration: line-through;
      color: #353535;
    }

    &__new-price {
      color: #d51015;
      font-size: 30px;
      font-weight: 700;
      font-style: italic;
    }

    &__btn {
      font-weight: 700;
      padding: 15px 5px;
      font-style: italic;
      width: 100%;
      background-color: #d51015;
      color: #ffffff;
      border: 1px solid #ee5f62;
      border-radius: 5px;
      text-align: center;
      max-height: 100%;
      font-size: 22px;
    }
  }
}
